Import modules

In [9]:
import numpy, pandas, requests

In [10]:
url="https://www.wikizeroo.org/index.php?q=aHR0cHM6Ly9lbi53aWtpcGVkaWEub3JnL3dpa2kvTGlzdF9vZl9wb3N0YWxfY29kZXNfb2ZfQ2FuYWRhOl9N"

response=requests.get(url)

In [11]:
df=pandas.read_html(response.text)[0]

In [12]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Remove rows where Boroughs are "not assigned". I first create a Boolean condition called BNA(=Borough not assigned), then pass it through the dataframe to create a new one.

In [13]:
bna=df["Borough"]!="Not assigned"

In [14]:
df=df[bna]
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

To concatenate neighborhood naes with the "join" method.

In [15]:
df_gr=df.groupby(["Postcode","Borough"])["Neighbourhood"].apply(", ".join).reset_index()

In [16]:
nna=df_gr["Neighbourhood"]=="Not assigned"
df_gr[nna]

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Not assigned

In [17]:
for i in range(len(df_gr.index)):
    if df_gr.Neighbourhood[i]=="Not assigned":
        df_gr.Neighbourhood[i]=df_gr.Borough[i]

In [18]:
df_gr.loc[85]

Postcode                  M7A
Borough          Queen's Park
Neighbourhood    Queen's Park
Name: 85, dtype: object

In [19]:
df_gr.shape

(103, 3)

In [20]:
df_gr.to_csv("toronto_neighborhoods.csv")