**first, we import our modules**

In [22]:
import numpy, pandas

**then we read the files from the Labs. Coordinates are from the link in the instructions. Toronto is the name for file from my previous part.**

In [23]:
coordinates=pandas.read_csv("https://cocl.us/Geospatial_data")

In [24]:
toronto=pandas.read_csv("/resources/labs/DP0701EN/toronto_neighborhoods.csv")

**I had to delete the first column because it was unneccesary.**

In [25]:
toronto.drop("Unnamed: 0", axis=1, inplace=True)

**then, we have to match a column name on both dataframes, so we can merge (we have to create the "primary key" in SQL)**

In [32]:
toronto.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [33]:
toronto.rename(columns={"Postcode":"PostalCode"}, inplace=True)

In [34]:
toronto.head()

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [36]:
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [37]:
coordinates.rename(columns={"Postal Code":"PostalCode"}, inplace=True)

In [38]:
coordinates.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

**now we can merge the two dataframes quite easily!**
**finally, we save the joined dataframe to Labs to use in our next part of the assignment.**
**Cheers!**

In [40]:
df=pandas.merge(toronto, coordinates, on="PostalCode")
df

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054

In [43]:
df.to_csv("full_df.csv")